@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'TRIAL Factor A Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/public/fonts/TRIALFactorA-Regular.otf") format('woff2');
  }
  @font-face {
    font-family: 'TRIAL Factor A Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/static/public/fonts/TRIALFactorA-Bold.otf") format('woff2');
  }
  @font-face {
    font-family: 'TRIAL Factor A Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/static/public/fonts/TRIALFactorA-Medium.otf") format('woff2');
  }
  @font-face {
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/static/public/fonts/Inter-SemiBold.ttf") format('woff2');
  }
}
