.ellipse-group {
  height: 44.6px;
  flex: 1;
  position: relative;
}
.frame-wrapper12 {
  width: 79.1px;
  flex-direction: row;
  padding: 0 var(--padding-sm);
  box-sizing: border-box;
}
.frame-parent20,
.frame-wrapper12,
.side-bar,
.side-bar-inner1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent20 {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 17.1px;
}
.side-bar,
.side-bar-inner1 {
  width: 100px;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.side-bar {
  width: 185px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--color-black);
  flex-direction: column;
  padding: 27px var(--padding-xs) var(--padding-mini);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.a {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.05em;
  line-height: 50px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 96px;
}
.utyaduckfull-agad-k4aapwtiuo-e-icon {
  width: 32px;
  height: 32px;
  position: relative;
  object-fit: cover;
}
.parent7,
.utyaduckfull-agad-k4aapwtiuo-e-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.utyaduckfull-agad-k4aapwtiuo-e-wrapper {
  flex-direction: column;
  padding: 6px 0 0;
}
.parent7 {
  flex-direction: row;
  gap: 4.1px;
}
.div37 {
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  z-index: 1;
  margin-top: -2px;
}
.frame-parent27 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl) 9.8px 0;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
}
.a1,
.input1 {
  position: relative;
  display: inline-block;
}
.a1 {
  text-decoration: none;
  color: inherit;
  min-width: 66px;
}
.input1 {
  width: 166px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-trial-factor-a);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 22px;
  line-height: 22px;
  color: var(--color-darkslategray-300);
  text-align: left;
  padding: 0;
  z-index: 1;
}
.input,
.input-wrapper,
.parent8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  padding: var(--padding-6xs) var(--padding-sm);
}
.input-wrapper,
.parent8 {
  align-self: stretch;
}
.parent8 {
  flex-direction: column;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-8xs);
  font-family: var(--font-inter);
}
.div38,
.div39 {
  position: relative;
  display: inline-block;
}
.div38 {
  min-width: 68px;
}
.div39 {
  flex: 1;
  letter-spacing: -0.05em;
  line-height: 18px;
  font-weight: 500;
  max-width: 100%;
  flex-shrink: 0;
  z-index: 1;
}
.frame-parent26,
.input-container,
.input2,
.parent9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input2 {
  position: relative;
  width: 440px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-4xs) 0 var(--padding-4xs) var(--padding-sm);
  white-space: nowrap;
  height: 35px;
}

.input-ava {
  position: absolute;
  top: 50%;
  left: -1px;
  transform: translateY(-50%);
}

.input-ava::file-selector-button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
}

.frame-parent26,
.input-container,
.parent9 {
  align-self: stretch;
}
.input-container {
  flex-direction: row;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  color: var(--color-darkslategray-300);
}
.frame-parent26,
.parent9 {
  flex-direction: column;
}
.parent9 {
  gap: var(--gap-8xs);
}
.frame-parent26 {
  gap: 10.4px;
}
.div40,
.input3 {
  position: relative;
}
.div40 {
  color: var(--color-darkslategray-200);
  display: inline-block;
  min-width: 34px
}
.input3 {
  align-self: stretch;
  width: 440px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.div41 {
  position: absolute;
  left: 6px;
  display: inline-block;
  width: 21px;
  height: 28px;
  min-width: 21px;
  z-index: 2;
}
.frame-child9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.parent11 {
  align-self: stretch;
  height: 36.7px;
  position: relative;
}
.input-inner {
  width: 36.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.6px 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.b26,
.div42 {
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
.div42 {
  resize: none;
  width: 238px;
  font-size: var(--font-size-3xs);
  letter-spacing: -0.05em;
  color: var(--color-darkslategray-200);
  display: inline-block;
}
.parent12 {
  width: 307.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: 0.6px;
  border: none !important;
}
.div43,
.div44 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
  min-width: 37px;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}
.div44 {
  z-index: 1;
}
.parent13 {
  align-self: stretch;
  position: relative;
}
.input-child,
.input-parent,
.input4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-child {
  flex-direction: column;
  width: 60px;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
}
.input-parent,
.input4 {
  flex-direction: row;
}
.input4 {
  flex: 1;
  box-sizing: border-box;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-8xs);
  gap: 9.9px;
  max-width: 100%;
  z-index: 1;
  
}

.input4 * {
  border-radius: 6px;
  border: solid 1px #ABABAB;
}


.input-parent {
  position: relative;
  width: 400px;
  border: 1px solid var(--color-darkgray);
  border-radius: var(--br-5xs);
  background-color: white;
}
.input5 {
  align-self: stretch;
  width: 440px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.frame-child10 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.div45 {
  position: absolute;
  top: 8.3px;
  left: 10.2px;
  display: inline-block;
  width: 21px;
  height: 28px;
  min-width: 21px;
  z-index: 2;
}
.ellipse-container {
  align-self: stretch;
  height: 36.7px;
  position: relative;
}
.input-inner1 {
  width: 36.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.7px 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.b27,
.p1 {
  position: relative;
  z-index: 2;
}
.p1 {
  margin: 0;
  width: 278.8px;
  font-size: var(--font-size-3xs);
  color: var(--color-darkslategray-200);
  display: inline-block;
}
.parent14 {
  width: 308.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.div46 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 36px;
  white-space: nowrap;
}
.input-group,
.input6,
.wrapper12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper12 {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
}
.input-group,
.input6 {
  flex-direction: row;
}
.input6 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-8xs);
  gap: 9.5px;
  max-width: 100%;
  z-index: 1;
}
.input-group {
  width: 440px;
}
.input7 {
  margin-top: 12px;
  align-self: stretch;
  width: 440px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.b28 {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 66px;
  z-index: 2;
}
.input-parent1,
.input8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.input8 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  padding: var(--padding-4xs) 176px;
  max-width: 100%;
  z-index: 1;
}
.input-parent1 {
  flex-direction: column;
  gap: 20px;
}
.parent10 {
  margin-top: 12px;
  width: 444px;
  overflow-x: auto;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  gap: 6.3px;
  color: var(--color-darkslategray-300);
  word-wrap: break-word;
}
.frame-parent25,
.frame-wrapper13,
.parent10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent25 {
  align-self: stretch;
  gap: 57.3px;
}
.frame-wrapper13 {
  flex: 1;
  padding: 3px 0 0;
  box-sizing: border-box;
  min-width: 289px;
}
.a2 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.05em;
  line-height: 50px;
  font-weight: 700;
  color: inherit;
}
.image-44-icon {
  width: 323.4px;
  position: relative;
  border-radius: var(--br-5xs);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.image-44-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.parent15 {
  flex-direction: column;
  gap: 15.5px;
  max-width: 100%;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
}
.design-tab,
.design-tab-inner,
.frame-parent24,
.parent15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent24 {
  align-self: stretch;
  flex-direction: row;
  gap: 34.6px;
  max-width: 100%;
}
.design-tab,
.design-tab-inner {
  font-size: var(--font-size-sm);
  font-family: var(--font-trial-factor-a);
}
.design-tab-inner {
  flex-direction: column;
  padding: 30px 0 30px 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  color: var(--color-darkslategray-200);
}
.design-tab {
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-wrap: wrap;
  gap: 32px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--color-white);
  letter-spacing: normal;
  text-align: center;
  justify-content: center;
}

.rectangle-parent {
  border-style: solid;
  border-radius: 20px;
  border-color: #ABABAB;
  border-width: 0.5px;
}


@media screen and (max-width:1350px) {
  .design-tab {
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;
  }
  .design-tab-inner {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: calc(100% - 185px);
  }
  .frame-parent24 {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.card-posts {
  gap: 24px;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  width: auto;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid black;
  padding: 15px;
  padding-top: 25px;
  border-radius: 10px;
  min-width: 400px
}

.post-id {
  position: absolute;
  font-family: "TRIAL Factor A Regular";
  color: #ABABAB;
  font-size: 12px;
  top: -18px;
  left: 4px;
}

/***** MODAL DIALOG ****/

.modal-content {
  font-family: "TRIAL Factor A Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 90vh;
  overflow-y: auto;
}


#modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal > .modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}

#modal > .modal-content {
	/* Position visible dialog near the top of the window */
	margin-top:10vh;

	/* Sizing for visible dialog */
	width:80%;
	max-width:600px;

	/* Display properties for visible dialog*/
	border:solid 1px #999;
	border-radius:8px;
	background-color:white;
	padding:20px;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing > .modal-content {
	/* Animate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
} 

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
} 

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
}

.posts-add-list {
  padding-top: 25px;
  overflow-x: hidden;
  overflow-y: auto;
  display: inline-flex;
  gap: 25px;
  word-wrap: break-word;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;

}

.posts-add-list .input4 * {
  border: none;
}

.post-add {
  position: relative;
  width: 400px;
  border: 1px solid var(--color-darkgray);
  border-radius: var(--br-5xs);
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid var(--color-darkgray);
}

.post-add_choosen {
  position: relative;
  width: 400px;
  border: 1px solid var(--color-darkgray);
  border-radius: var(--br-5xs);
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid var(--color-darkgray);
  background-color: E4E4E4;
}

.post-add:hover,
.post-add:active,
.post-add_choosen:hover,
.post-add_choosen:active {
  background-color: gray;
}

#message {
  width: 440px;
  word-wrap: break-word;
}