body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-joyride: 'Joyride', sans-serif;
  --font-trial-factor-a: "TRIAL Factor A";

  /* font sizes */
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #160c28;
}
