body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Fonts */
  --font-inter: "Inter SemiBold";
  --font-trial-factor-a: "TRIAL Factor A";
  --font-trial-factor-a-bold: "TRIAL Factor A Bold";
  --font-trial-factor-a-medium: "TRIAL Factor A Medium";
  --font-trial-factor-a-regular: "TRIAL Factor A Regular";
  --font-roboto: Roboto;
  --font-helvetica: Helvetica;
  --font-dm-sans: "DM Sans";
  --font-arial: Arial;
  --font-joyride: Joyride;

  /* Font Sizes */
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-3xs: 10px;
  --font-size-xs: 12px;
  --font-size-xl: 20px;
  --font-size-13xl: 32px;
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkslategray-100: #333;
  --color-darkslategray-200: rgba(48, 48, 48, 0.75);
  --color-darkslategray-300: #303030;
  --color-aliceblue: #f1f5f9;
  --color-lightgreen: #41c960;
  --color-gray-100: #160c28;
  --color-darkslateblue: #2b3674;
  --color-lightsteelblue-100: #b0bbd5;
  --secondary-grey-600: #a3aed0;
  --color-darkgray: #ababab;
  --color-gray: #160c28;

  /* Gaps */
  --gap-420xl: 439px;
  --gap-xl: 20px;
  --gap-base: 16px;
  --gap-5xs-1: 7.1px;
  --gap-mid: 17px;
  --gap-5xs-9: 7.9px;
  --gap-8xs: 5px;
  --gap-6xs-5: 6.5px;

  /* Paddings */
  --padding-156xl: 175px;
  --padding-xl: 20px;
  --padding-68xl: 87px;
  --padding-22xl: 41px;
  --padding-31xl: 50px;
  --padding-2xl: 21px;
  --padding-mini: 15px;
  --padding-base-7: 15.7px;
  --padding-7xl: 26px;
  --padding-6xl: 25px;
  --padding-sm-9: 13.9px;
  --padding-sm: 14px;
  --padding-smi: 13px;
  --padding-9xs: 4px;
  --padding-11xs: 2px;
  --padding-8xs: 5px;
  --padding-4xs: 9px;
  --padding-6xs: 7px;
  --padding-xs: 12px;
  --padding-12xs: 1px;
  --padding-lgi: 19px;

  /* Border Radiuses */
  --br-5xs: 8px;
  --br-7xs: 6px;
  --br-xl: 20px;
}

@font-face {
  font-family: "TRIAL Factor A Bold";
  src: url("/static/public/fonts/TRIALFactorA-Bold.otf") format("truetype");
}

@font-face {
  font-family: "TRIAL Factor A Medium";
  src: url("/static/public/fonts/TRIALFactorA-Medium.otf") format("truetype");
}

@font-face {
  font-family: "TRIAL Factor A Regular";
  src: url("/static/public/fonts/TRIALFactorA-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Inter SemiBold";
  src: url("/static/public/fonts/Inter-SemiBold.ttf") format("truetype");
}

button:hover {
  background-color: var(--color-darkslategray-100);
}

a {
  text-decoration: none;
}


