.logo-1-icon {
  align-self: stretch;
  height: 26.7px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.logo-1-wrapper {
  width: 132.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.3px 0 0;
  box-sizing: border-box;
}

.frame-child {
  height: 43.4px;
  width: 106.2px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  display: none;
}

.button-text {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-trial-factor-a-medium);
  color: var(--color-white);
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}

.frame-parent,
.rectangle-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 10.6px 26px 19.5px;
  background-color: var(--color-black);
  height: 43.4px;
  width: 106.2px;
  border-radius: var(--br-5xs);
  justify-content: flex-start;
  box-sizing: border-box;
}

.frame-parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.frame-item {
  position: absolute;
  top: 72.4px;
  left: 272.5px;
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  width: 305.8px;
  height: 67.1px;
}

.title__bottom {
  color: var(--color-white);
}

.h1 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  line-height: 70px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: 64px;
  font-family: var(--font-trial-factor-a-medium);
}
.rectangle-container {
  height: 140px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.frame-wrapper {
  width: 597.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: 64px;
}
.span1 {
  font-weight: 500;
}

.span {
  color: white;
}

.postik-container {
  align-self: stretch;
  height: 58px;
  position: relative;
  display: inline-block;
  font-family: 'TRIAL Factor A Medium';
  font-weight: 600;
  font-size: var(--font-size-5xl);
}

.frame-inner {
  height: 61.6px;
  width: 415.4px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.b1 {
  height: 26px;
  width: 206px;
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-trial-factor-a);
  color: var(--color-white);
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 17.8px var(--padding-xl);
  background-color: var(--color-black);
  width: 415.4px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
}
.frame-wrapper1,
.postik-parent {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.frame-wrapper1 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 21px;
  box-sizing: border-box;
}
.postik-parent {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 50.9px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.utyaduckfull-agadnbkaas3nkuk-e-icon {
  height: 246.9px;
  width: 248.9px;
  position: relative;
  border-radius: 30px;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.utyaduckfull-agadnbkaas3nkuk-e-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-6xl) 0 var(--padding-xl);
}
.frame-container,
.frame-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-div {
  flex: 1;
  flex-direction: column;
  gap: 63.2px;
}
.frame-container {
  width: 597.4px;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 24.8px;
  box-sizing: border-box;
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}
.aniducks-agaduw4aapt9iug-ezgif-icon {
  height: 57px;
  width: 57px;
  position: relative;
  object-fit: contain;
}
.b2 {
  width: 112px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.div2,
.parent {
  align-self: stretch;
}
.div2 {
  position: relative;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
  white-space: nowrap;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs-9);
}
.aniducks-agaduw4aapt9iug-ezgif-parent,
.frame-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper2 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
  box-sizing: border-box;
  min-width: 335px;
}
.aniducks-agaduw4aapt9iug-ezgif-parent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 13.3px;
}
.aniducks-agaduw4aapt9iug-ezgif-icon1,
.b3 {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.aniducks-agaduw4aapt9iug-ezgif-icon1 {
  height: 51.9px;
  width: 51.9px;
  object-fit: cover;
}
.b3 {
  align-self: stretch;
  height: 31px;
  display: inline-block;
  white-space: nowrap;
}
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7.9px 0 0;
}
.aniducks-agaduw4aapt9iug-ezgif-group {
  flex: 1;
  flex-direction: row;
  gap: 16.5px;
}
.aniducks-agaduw4aapt9iug-ezgif-group,
.frame-parent3,
.frame-wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper3 {
  width: 167.9px;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.frame-parent3 {
  align-self: stretch;
  flex-direction: column;
  gap: 37.2px;
  max-width: 100%;
}
.div3 {
  width: 510.3px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.container,
.frame-parent2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  margin-top: -5px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
}
.frame-parent2 {
  width: 585.3px;
  flex-direction: column;
  justify-content: flex-start;
}
.aniducks-agaduw4aapt9iug-ezgif-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.aniducks-agaduw4aapt9iug-ezgif-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.aniducks-agaduw4aapt9iug-ezgif-container {
  height: 46.8px;
  width: 46.8px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.b4 {
  align-self: stretch;
  height: 31px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.frame,
.frame-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame {
  flex: 1;
  flex-direction: column;
  padding: 12.4px 0 0;
}
.frame-parent5 {
  width: 151.2px;
  flex-direction: row;
  gap: 18.4px;
}
.div4 {
  width: 555.1px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  white-space: nowrap;
}
.wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
}
.frame-parent1,
.frame-parent4,
.frame-wrapper4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent4 {
  flex: 1;
  flex-direction: column;
  gap: 4.6px;
}
.frame-parent1,
.frame-wrapper4 {
  align-self: stretch;
  box-sizing: border-box;
}
.frame-wrapper4 {
  flex-direction: row;
  padding: 0 0 0 var(--padding-8xs);
}
.frame-parent1 {
  flex-direction: column;
  padding: 0 0 15.1px;
  gap: 32.6px;
  font-family: 'TRIAL Factor A Regular';
}
.aniducks-agaduw4aapt9iug-ezgif-icon4 {
  height: 57px;
  width: 57px;
  position: relative;
  object-fit: contain;
}
.b5 {
  width: 104px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.div5,
.group {
  align-self: stretch;
}
.div5 {
  position: relative;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
  text-align: left;
}
.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs-9);
}
.aniducks-agaduw4aapt9iug-ezgif-parent1,
.frame-wrapper6 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper6 {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
  box-sizing: border-box;
  min-width: 361px;
}
.aniducks-agaduw4aapt9iug-ezgif-parent1 {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8.3px;
}
.frame-wrapper5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.frame-group,
.frame-wrapper5,
.main-screen-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-group {
  width: 625.8px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 17px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-trial-factor-a);
}
.main-screen-inner {
  width: 1120.5px;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 77px;
  box-sizing: border-box;
}
.div6,
.div7 {
  position: relative;
  white-space: nowrap;
}
.div7 {
  width: 249.7px;
  display: inline-block;
  flex-shrink: 0;
}
.parent1 {
  width: 651.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  font-family: 'TRIAL Factor A Medium';
}
.main-screen,
.main-screen-child {
  display: flex;
  box-sizing: border-box;
}
.main-screen-child {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 4px 0 0;
  max-width: 100%;
}
.main-screen {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15.7px var(--padding-6xl) 32.3px;
  gap: 65.1px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-200);
  font-family: var(--font-trial-factor-a);
}
@media screen and (max-width: 1200px) {
  .main-screen-inner {
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .h1 {
    font-size: 51px;
    line-height: 56px;
  }
  .main-screen-inner {
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .postik-parent {
    gap: 25px;
  }
  .frame-div {
    gap: 32px;
  }
  .frame-parent3 {
    gap: 19px;
  }
  .frame-parent1 {
    gap: var(--gap-base);
  }
  .main-screen-inner {
    padding-bottom: 32px;
    box-sizing: border-box;
  }
  .parent1 {
    flex-wrap: wrap;
  }
  .main-screen {
    gap: 33px;
  }
}
@media screen and (max-width: 450px) {
  .h1 {
    font-size: 38px;
    line-height: 42px;
  }
  .postik-container {
    font-size: var(--font-size-lgi);
  }
  .frame-div {
    gap: var(--gap-base);
  }
  .b2 {
    font-size: var(--font-size-lgi);
  }
  .div2 {
    font-size: var(--font-size-base);
  }
  .b3 {
    font-size: var(--font-size-lgi);
  }
  .div3 {
    font-size: var(--font-size-base);
  }
  .b4 {
    font-size: var(--font-size-lgi);
  }
  .div4 {
    font-size: var(--font-size-base);
  }
  .b5 {
    font-size: var(--font-size-lgi);
  }
  .div5 {
    font-size: var(--font-size-base);
  }
  .frame-wrapper6 {
    min-width: 100%;
  }
  .main-screen-inner {
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .main-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
  }
}