{% load static %}
{% load static tailwind_tags %}
<h2 id="accordion-open-heading-{{ post.id }}">
  <button id="design_post_heading_{{ post.id }}" type="button" class="flex items-center justify-between w-full p-5 border border-gray-200 focus:ring-4 focus:ring-gray-200 hover:bg-gray-100 gap-3" data-accordion-target="#accordion-open-body-{{ post.id }}" aria-expanded="false" aria-controls="accordion-open-body-{{ post.id }}">
    {% include "dashboards/includes/design_post_heading.html"%}
  </button>
</h2>
<div id="accordion-open-body-{{ post.id }}" class="hidden" aria-labelledby="accordion-open-heading-{{ post.id }}">
  {% include "dashboards/includes/design_post_body.html" with is_view_post=True %}
</div>