{% load static %}
{% load tailwind_tags %}
<div class="p-5 border border-t-0 border-gray-200">
  <p class="my-2 text-gray-500 break-words">
    {% if post.description %}
      {{ post.description }}
    {% else %}
      Нет описание
    {% endif %}
  </p>
  <!--
  <div class="flex items-center space-x-2 mb-2">
    <img src="{% static "public/images/card/telegram-icon.svg" %}" alt="Иконка телеграм">
    <a href="tg://resolve?domain={{ bot_handler_name }}&start=view_post_{{ post.id }}" class="text-blue-600 hover:underline">Открыть пост в телеграме</a>
  </div>-->
  {% if not post in card.posts.all %}
    <button
      type="button"
      class="bg-black text-white py-2 px-4 my-2 rounded"
      hx-get="{% url "dashboards:add_post_card" post_id=post.id %}"
      hx-trigger="click"
      hx-swap="innerHTML"
      hx-target="#accordion-open-body-{{ post.id }}"
      enctype="multipart/form-data"
    >
      Добавить пост в карточку
    </button>
  {% else %}
    <button
      type="button"
      class="bg-white text-black py-2 px-4 my-2 border-2 rounded"
      hx-get="{% url "dashboards:delete_post_card" post_id=post.id %}"
      hx-trigger="click"
      hx-swap="innerHTML"
      hx-target="#accordion-open-body-{{ post.id }}"
      enctype="multipart/form-data"
    >
      Убрать пост из карточки
    </button>
  {% endif %}
  <form
    method="GET"
    hx-get="{% url "dashboards:edit_post" post_id=post.id %}"
    hx-trigger="click"
    hx-swap="innerHTML"
    hx-target="#accordion-open-body-{{ post.id }}"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <button
      class="bg-black text-white py-2 px-4 border border-blue-700 rounded"
      type="submit"
    >
      Редактировать пост
    </button>
    <button
      type="button"
      style="background-color: red;"
      class="block focus:outline-none text-white hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded text-sm px-5 py-2.5 me-2 my-2"
      hx-get="{% url "dashboards:remove_post" post_id=post.id %}"
      hx-trigger="click"
      hx-swap="innerHTML"
      hx-target="#design-post-{{ post.id }}"
      enctype="multipart/form-data"
    >
      Удалить пост
    </button>
    {% if is_success_edit %}
      <div class="block text-xs pb-3 mb-3">
        Пост успешно сохранен!
      </div>
    {% endif %}
  </form>
</div>
<!-- Trigger for update header-->
{% if not is_view_post  %}
  <span
    class="hidden"
    hx-trigger="load"
    hx-get="{% url 'dashboards:view_post_heading' post_id=post.id %}"
    hx-swap="innerHTML"
    hx-target="#design_post_heading_{{ post.id }}"
  />
<!-- Trigger for update card-->
<span
  class="hidden"
  hx-trigger="load"
  hx-get="{% url 'dashboards:preview_card' %}"
  hx-swap="innerHTML"
  hx-target="#design-card-preview"
/>
{% endif %}