{% load static %}
{% load static tailwind_tags %}
<h2 id="accordion-open-heading-{{ post.id }}">
  <button id="design_post_heading_{{ post.id }}" type="button" class="flex items-center justify-between w-full p-5 border border-gray-200 focus:ring-4 focus:ring-gray-200 hover:bg-gray-100 gap-3" data-accordion-target="#accordion-open-body-{{ post.id }}" aria-expanded="false" aria-controls="accordion-open-body-{{ post.id }}">
    <div class="break-words text-black flex items-center w-full">
      {% if not post in card.posts.all %}
      <div class="flex justify-center items-center text-center w-8 h-8 p-1 mr-2 border-2 rounded-lg"> 
      {% else %}
      <div class="flex justify-center items-center text-center w-8 h-8 p-1 mr-2 border-2 border-black rounded-lg"> 
      {% endif %}
        <p>{{ post.image }}</p>
      </div>
      <div class="w-5 mr-5 text-sm md:text-base flex-grow text-left">
        {{ post.title }}
      </div>
      <div class="font-bold text-sm md:text-base text-right text-black inter-semibold ml-10">
        {{ post.price }}₽
      </div>
    </div>
    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
    </svg>
  </button>
</h2>
<div id="accordion-open-body-{{ post.id }}" class="hidden" aria-labelledby="accordion-open-heading-{{ post.id }}">
  <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
    <p class="mb-2 text-gray-500 dark:text-gray-400 break-words ">
      {% if post.description %}
        {{ post.description }}
      {% else %}
        Нет описание
      {% endif %}
    </p>
    <div class="flex items-center space-x-2 mb-2">
      <img src="{% static "public/images/card/telegram-icon.svg" %}" alt="Иконка телеграм">
      <a href="tg://resolve?domain={{ bot_handler_name }}&start=view_post_{{ post.id }}" class="text-blue-600 dark:text-blue-500 hover:underline">Открыть пост в телеграме</a>
    </div>
    {% if not post in card.posts.all %}
      <button
        type="button"
        class="bg-black text-white py-2 px-4 my-2 rounded"
        hx-get="{% url "dashboards:add_post_card" post_id=post.id %}"
        hx-trigger="click"
        hx-swap="innerHTML"
        hx-target="#accordion-open-body-{{ post.id }}"
        enctype="multipart/form-data"
      >
        Добавить пост в карточку
      </button>
    {% else %}
      <button
        type="button"
        class="bg-white text-black py-2 px-4 my-2 border-2 rounded"
        hx-get="{% url "dashboards:delete_post_card" post_id=post.id %}"
        hx-trigger="click"
        hx-swap="innerHTML"
        hx-target="#accordion-open-body-{{ post.id }}"
        enctype="multipart/form-data"
      >
        Убрать пост из карточки
      </button>
    {% endif %}
    <form
      method="GET"
      hx-get="{% url "dashboards:edit_post" post_id=post.id %}"
      hx-trigger="click"
      hx-swap="innerHTML"
      hx-target="#accordion-open-body-{{ post.id }}"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <button
        class="bg-black text-white py-2 px-4 rounded"
        type="submit"
      >
        Редактировать пост
      </button>
    </form>
    <button
      type="button"
      style="background-color: red;"
      class="block focus:outline-none text-white hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded text-sm px-5 py-2.5 me-2 my-2"
      hx-get="{% url "dashboards:remove_post" post_id=post.id %}"
      hx-trigger="click"
      hx-swap="innerHTML"
      hx-target="#design-post-{{ post.id }}"
      enctype="multipart/form-data"
    >
      Удалить пост
    </button>
  </div>
</div>
