{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static 'public/css/design.css' %} />
<link rel="stylesheet" href={% static 'public/css/card.css' %} />
{% endblock %}
{% block content %}
<div class="design-tab">
  {% include 'dashboards/includes/sidebar.html' %}
  <section class="design-tab-inner">
    <div class="frame-parent24">
      <div class="frame-wrapper13">
      <form>
        {% csrf_token %}
        <div class="frame-parent25">
          <div class="frame-parent26">
            <div class="frame-parent27">
              <div class="parent7">
                <a class="a">Дизайн</a>
                <div class="utyaduckfull-agad-k4aapwtiuo-e-wrapper">
                  <img
                    class="utyaduckfull-agad-k4aapwtiuo-e-icon"
                    loading="lazy"
                    alt=""
                    src={% static '/public/images/dashboard/design/duck-art.svg' %}
                  />
                </div>
              </div>
              <div class="div37">
                Добавьте логотип, название, описание и посты в вашу карточку
              </div>
            </div>
            <div class="parent9">
              <div class="parent9">
                <a>Аватарка</a>
                <div class="input-wrapper">
                  <div class="input2">
                    <input
                      class="input-ava"
                      type="file"
                      name="avatar"
                      accept="image/*"
                      hx-post="{% url 'dashboards:update_card' %}"
                      hx-trigger="change"
                      hx-target=".image-44-wrapper"
                      hx-boost="true"
                      hx-encoding="multipart/form-data"
                    />
                  </div>
                </div>
              </div>
              <a>Название</a>
              <div class="input-wrapper">
                <input
                  class="input2"
                  value={{ card.title }}
                  type="text"
                  name="title"
                  hx-post="{% url 'dashboards:update_card' %}"
                  hx-trigger="change"
                  hx-target=".image-44-wrapper"
                  onkeydown="if (event.key === 'Enter') this.blur();"
                />
              </div>
            </div>
            <div class="parent9">
              <a>Описание</a>
              <div class="input-container">
                <input
                  class="input2"
                  value={{ card.description }}
                  type="text"
                  name="description"
                  hx-post="{% url 'dashboards:update_card' %}"
                  hx-trigger="change"
                  hx-target=".image-44-wrapper"
                  onkeydown="if (event.key === 'Enter') this.blur();"
                />
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="parent10">
        <div class="div40">Посты</div>
          <div
            class="card-posts"
            hx-trigger="updateCardPosts from:body"
            hx-get="{% url 'dashboards:card-posts' %}"
            hx-swap="innerHTML">
            {% include 'dashboards/design/card-posts.html' %}
          </div>
      </div>
      <button
        type="button"
        class="input7 input8 28"
        hx-get={% url 'dashboards:modal-posts' %}
        hx-target="body"
        hx-swap="beforeend"
      >
        Добавить
      </button>
      <div>
        <button
          class="input7 input8 28"
          hx-post="{% url 'dashboards:save_card' %}"
          hx-vals='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'
          hx-target="#message"
          hx-target=".image-44-wrapper"
          onkeydown="if (event.key === 'Enter') this.blur();"
        >
          Сохранить
        </button>
      </div>
      <div id="message"></div>
      </div>
      <div
        class="parent15"
        hx-trigger="updateCardPosts from:body"
        hx-target=".image-44-wrapper"
        hx-get="{% url 'dashboards:preview_card' %}"
        hx-swap="innerHTML"
      >
        <a class="a2">Предпросмотр</a>
        <div class="image-44-wrapper">
          {% include 'posts/card.html' %}
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}