{% load static %}
{% for post in card.posts %}
<div class="input-parent">
  <div class="post-id">Пост № {{ post.id }}</div>
</form>
  <form class="input4">
    {% csrf_token %}
    <a class="post-input-label">Лого</a>
    <div class="emojipicker-container">
      <input
        class="input-image"
        value="{{ post.image }}"
        id="main-input"
        type="text"
        name="image"
        hx-post="{% url 'dashboards:update_post' post_id=post.id %}"
        hx-trigger="change"
        hx-target=".image-44-wrapper"
        onkeydown="if (event.key === 'Enter') this.blur();"
        readonly
      />
    </div>
      <a class="post-input-label">Название</a>
      <input
        class="b26"
        value="{{ post.title }}"
        type="text"
        name="title"
        hx-post="{% url 'dashboards:update_post' post_id=post.id %}"
        hx-trigger="change"
        hx-target=".image-44-wrapper"
        onkeydown="if (event.key === 'Enter') this.blur();"
        maxlength="32"
      />
      <a class="post-input-label">Описание</a>
      <textarea
        class="div42"
        name="description"
        hx-post="{% url 'dashboards:update_post' post_id=post.id %}"
        hx-vals='{"description": this.value, "post_id": "{{ post.id }}"}'
        hx-trigger="change"
        hx-target=".image-44-wrapper"
        onkeydown="if (event.key === 'Enter') this.blur();"
        maxlength="255"
      >{{ post.description }}
      </textarea>
    <a class="post-input-label">Цена</a>
    <input
      class="input-child"
      value="{{ post.price }}"
      type="number"
      min="0"
      name="price"
      hx-post="{% url 'dashboards:update_post' post_id=post.id %}"
      hx-trigger="change"
      hx-target=".image-44-wrapper"
      onkeydown="if (event.key === 'Enter') this.blur();"
    />
  </form>
</div>
{% endfor %}
<script src={% static 'public/js/emoji.js' %}></script>