{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static '/public/css/card.css' %} />
{% endblock %}
{% block content %}
<div class="rectangle-parent">
  <div class="frame-child"></div>
  <div class="frame-wrapper">
    <div class="frame-parent">
      <div class="frame-container">
        <div class="ava-parent">
          <div class="ava"></div>
            {% if image %}
              <img
                class="mask-group-icon"
                src="http://{{ request.get_host }}{{ image.url }}"
              />
            {% else %}
              <img
                class="mask-group-icon"
                loading="lazy"
                src="data:image/jpeg;base64,{{ card.image }}"
              />
            {% endif %}
        </div>
      </div>
      <div class="frame-group">
        <div class="div"> {{ card.title }} </div>
        <div class="div1">{{ card.description }}</div>
      </div>
    </div>
  </div>
  <div class="frame-div">
    <div class="frame-parent1">
      {% for post in card.posts %}
      <div class="frame-parent2">
        <div class="icon-wrapper">
          <div class="icon">
            <div class="icon-child"></div>
              <img
                class="icon-item"
                loading="lazy"
                alt=""
                src={% static '/public/images/card/telegram-icon.svg' %}
              />
            <div class="container">
              <div class="div2">{{ post.image }}</div>
            </div>
          </div>
        </div>
        <div class="frame-parent3">
          <div class="parent">
            <b class="b">{{ post.title }}</b>
            <div class="frame">
              <div class="div3">
                {{ post.description }}
              </div>
            </div >
          </div>
          <div class="frame-parent4">
            <div class="frame-parent5">
              <button class="rectangle-group" aria-expanded="false" aria-controls="list">
                <img class="down-arrow-1-1" loading="lazy" alt="" src={% static '/public/images/card/down-arrow.svg' %} />
              </button>
              
              <div class="wrapper1">
                <b class="b1">{{ post.price }}₽</b>
              </div>
            </div>
            {% if is_preview %}
            <button
              class="group-div"
            >
              <div class="div6">Добавить в корзину</div>
            </button>
            {% elif post.id in cart.posts %}
              <button
                class="rectangle-container"
                hx-post="{% url 'posts:post_cart' card_id=card.id post_id=post.id %}"
                hx-vals='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'
                hx-target="body"
                hx-swap="outerHTML"
              >
                <div class="frame-inner"></div>
                <b class="b2">В корзине</b>
                <div class="icon-container">
                  <img class="icon1" alt="" src="{% static '/public/images/card/tick.svg' %}" />
                </div>
              </button>
            {% else %}
              <button
                class="group-div"
                hx-post="{% url 'posts:post_cart' card_id=card.id post_id=post.id %}"
                hx-vals='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'
                hx-target="body"
                hx-swap="outerHTML"
              >
                <div class="frame-child1"></div>
                <div class="div6">Добавить в корзину</div>
              </button>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="frame-wrapper1">
    <div class="buy-button-parent">
      <button class="buy-button">
        <div class="button"></div>
        <b class="b7">Оплатить</b>
      </button>
      <div class="frame-wrapper2">
        <div class="powered-by-parent">
          <div class="powered-by">powered by</div>
          <div class="logo-1-wrapper">
            <img
              class="logo-1-icon"
              loading="lazy"
              alt=""
              src={% static '/public/images/card/logo-card.svg' %}
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}