{% load static %}
{% load static tailwind_tags %}
<div>
  <div class="flex flex-col items-center justify-center text-center">
    <img class="my-10 size-32 border-2 border-black rounded-full" style="border-radius: 50%;" src="{{ card.image.url }}" alt="Изображение карточки">
    <p class="text-2xl font-semibold inter-semibold block w-1/3 break-words">
      {{ card.title }}
    </p>
    <p class="text-gray-500 text-md block w-1/2 break-words mt-1 mb-6">
      {{ card.description }}
    </p>
  </div>
  <div class="flow-root mx-5">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
      {% for post in card.posts.all %}
      <li class="py-3">
        <div class="flex flex-wrap items-start">
          <div
            style="background-color: #F1F5F9; width: 50px; height: 50px;"
            class="flex justify-center items-center text-3xl text-center p-6 mr-5 rounded-lg border-2 self-start mt-3"
          >
            {{ post.image }}
          </div>
          <div class="flex-1 min-w-0 mt-3">
            <p class="text-sm md:text-lg text-gray-900 truncate">
              {{ post.title }}
            </p>
            <div class="text-xs md:text-sm text-gray-500 dark:text-gray-400">
              <p id="short-description-{{ post.id }}" class="break-words">
                {{ post.description|truncatechars:32 }}
              </p>
              <p id="full-description-{{ post.id }}" class="hidden break-words">
                {{ post.description }}
              </p>
            </div>
            <button
              id="toggle-button-{{ post.id }}"
              class="text-sm text-blue-500 hover:underline mb-2"
              onclick="toggleDescription('{{ post.id }}')">
              Больше
            </button>
            <button
              type="button"
              class="block text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded text-xs px-2 py-2 md:px-5 md:py-2.5 me-2 mb-2">
              Добавить в корзину
            </button>
          </div>
          <div class="flex flex-col items-start space-y-2 ml-5 mt-5">
            <div class="text-3xl font-factor-a-bold">
              {{ post.price }}₽
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <button class="w-1/2 text-center text-xl flex items-center justify-center self-center mx-auto bg-black text-white my-4 py-2 px-4 border border-blue-700 rounded">
    Оплатить
  </button>
  <div class="flex justify-center items-center mt-5 mb-5 py-5">
    <p class="inter-semibold mr-2">powered by</p>
    <img
      loading="lazy"
      alt=""
      src="{% static 'public/images/card/logo-card.svg' %}"
    />
  </div>
</div>
<script>
  function toggleDescription(id) {
    var shortDescription = document.getElementById('short-description-' + id);
    var fullDescription = document.getElementById('full-description-' + id);
    var button = document.getElementById('toggle-button-' + id);

    if (fullDescription.classList.contains('hidden')) {
      shortDescription.classList.add('hidden');
      fullDescription.classList.remove('hidden');
      button.textContent = 'Меньше';
    } else {
      shortDescription.classList.remove('hidden');
      fullDescription.classList.add('hidden');
      button.textContent = 'Больше';
    }
  }
</script>