{% load static %}
{% load static tailwind_tags %}
<div class="bg-white rounded-2xl shadow-lg">
  <div class="flex flex-col items-center justify-center text-center p-6">
    <img
      loading="lazy"
      style="width: 192px; height: 192px;"
      class="lazyload object-cover my-10 size-48 border-2 border-black rounded-full"
      src="{{ card.image.url }}" alt="Изображение карточки"
    >
    <h1 class="text-3xl md:text-4xl factor-a-bold font-semibold block w-2/3 break-words">
      {{ card.title }}
    </h1>
    <p class="factor-a-regular font-light text-2xl text-gray-500 block w-3/4 break-words mt-1 mb-6">
      {{ card.description }}
    </p>
  </div>
  <div class="flow-root mx-3 sm:mx-12 md:mx-12">
    <ul role="list" class="divide-y divide-gray-200">
      {% for post in card.posts.all %}
      <li class="py-3">
        <div class="flex flex-wrap items-start">
          <div class="flex justify-center items-center bg-gray-100 w-12 h-12 text-3xl text-center mr-5 rounded-lg border-2 mt-3">
            {{ post.image }}
          </div>
          <div class="flex-1 min-w-0 mt-3">
            <p class="factor-a-bold font-semibold text-lg md:text-xl text-gray-900">
              {{ post.title }}
            </p>
            {% if post.description|length > 64 %}
              <div class="factor-a-regular font-light text-base md:text-lg text-gray-500">
                <p id="short-description-{{ post.id }}" class="break-words">
                  {{ post.description|truncatechars:64 }}
                </p>
                <p id="full-description-{{ post.id }}" class="hidden break-words">
                  {{ post.description }}
                </p>
              </div>
              <button
                id="toggle-button-{{ post.id }}"
                class="text-sm text-blue-500 hover:underline mb-2"
                onclick="toggleDescription('{{ post.id }}')">
                Больше
              </button>
            {% else %}
              <div>
                <p class="break-words factor-a-regular font-light text-base md:text-lg text-gray-500">
                  {{ post.description }}
                </p>
              </div>
            {% endif %}
          </div>
          <div class="flex flex-col items-start space-y-2 ml-2">
            <p class="block factor-a-bold font-bold text-2xl md:text-3xl">
              {{ post.price }}₽
            </p>
            {% if is_preview  %}
            <button type="button" class="block mb-5 text-center text-white bg-gray-800 text-base md:text-lg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded px-4 py-2">
              Купить пост
            </button>
            {% else %}
            <a
              href="tg://resolve?domain=postik_handler_bot&start=lead_create_{{ post.id }}"
              class="block mb-5 text-center text-white bg-gray-800 text-base md:text-lg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded px-4 py-2"
              title="Перейти в Telegram для покупки поста"
              aria-label="Купить пост через Telegram">
              Купить пост
            </a>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
  <a href="{% url "posts:index" %}" class="flex justify-center items-center py-8">
    <p class="Inter SemiBold font-light mr-2 opacity-30">powered by</p>
    <img class="w-24" loading="lazy" alt="Postik" src="{% static 'public/images/card/logo-card.svg' %}" />
  </a>
</div>
<script async>
  function toggleDescription(id) {
    var shortDescription = document.getElementById('short-description-' + id);
    var fullDescription = document.getElementById('full-description-' + id);
    var button = document.getElementById('toggle-button-' + id);

    if (fullDescription.classList.contains('hidden')) {
      shortDescription.classList.add('hidden');
      fullDescription.classList.remove('hidden');
      button.textContent = 'Меньше';
    } else {
      shortDescription.classList.remove('hidden');
      fullDescription.classList.add('hidden');
      button.textContent = 'Больше';
    }
  }
</script>