{% load static %}
{% load static tailwind_tags %}
<footer class="flex items-center justify-center mt-16 mb-5">
    <ul class="text-center font-factor-a-regular flex items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="hover:underline mx-10">Пользовательское соглашение</a>
        </li>
        <li>
            <a href="#" class="hover:underline mx-10">Политика конфиденциальности</a>
        </li>
    </ul>
    </div>
</footer>
