{% load static %}
{% load static tailwind_tags %}
<button data-drawer-target="separator-sidebar" data-drawer-toggle="separator-sidebar" aria-controls="separator-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Открыть боковую панель</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
  <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
  </svg>
</button>

<aside id="separator-sidebar" class="fixed h-full top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
  <div class="flex flex-col justify-between h-full py-4 overflow-y-auto bg-black text-white">
    <ul class="space-y-2 font-medium">
      <li class="flex justify-center">
        <img
          class="mt-5 mb-8 w-48 mr-5"
          loading="lazy"
          alt="Postik"
          src="{% static '/public/images/dashboard/postik-logo-sidebar.svg' %}"
        />
      </li>
      <li>
        <div class="flex items-center px-2">
          <input
            id="card-url-copy-button"
            type="text"
            class="relative col-span-6 bg-gray-50 border border-gray-300 text-gray-500 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            value="{{ card_url }}"
            disabled
            readonly
          >
            <button
              data-copy-to-clipboard-target="card-url-copy-button"
              data-tooltip-target="tooltip-copy-card-url-copy-button"
              style="margin-left: 5px;"
              class="h-8 text-gray-500 hover:bg-gray-100 rounded-lg p-2 inline-flex items-center justify-center"
            >
              <svg
                class="w-4 h-4"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 18 20"
              >
                <path
                  d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z"
                />
              </svg>
            </button>
          </input>
          <div id="tooltip-copy-card-url-copy-button" role="tooltip" class="relative z-30 invisible inline-block px-3 py-2 text-sm text-red transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
            <span id="default-tooltip-message" class="bg-black text-center border border-white rounded-lg px-2 py-1">Скопировать ссылку на карточку</span>
          </div>    
        </div>
      </li>
      <li>
        <a href="{% url 'dashboards:design' %}" class="flex items-center p-2 px-4 text-white font-factor-a-medium hover:bg-gray-100 hover:text-black group">
          <img class="w-9 h-9 p-2 bg-black rounded-lg" aria-hidden="true" src="{% static '/public/images/dashboard/side-bar/art.svg' %}" fill="currentColor" viewBox="0 0 22 21"></img>
          <span class="ms-3">Дизайн</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center p-2 px-4 text-white font-factor-a-medium hover:bg-gray-100 hover:text-black group">
          <img class="w-9 h-9 p-2 bg-black rounded-lg" aria-hidden="true" src="{% static '/public/images/dashboard/side-bar/publish.svg' %}" fill="currentColor" viewBox="0 0 22 21"></img>
          <span class="ms-3">Финансы</span>
        </a>
      </li>
    </ul>
    <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200">
      <li>
        <a href="#" class="flex items-center p-2 px-4 text-white font-factor-a-medium hover:bg-gray-100 hover:text-black group">
          <img class="w-9 h-9 p-2 bg-black rounded-lg" aria-hidden="true" src="{% static '/public/images/dashboard/side-bar/settings.svg' %}" fill="currentColor" viewBox="0 0 22 21"></img>
          <span class="ms-3">Личный кабинет</span>
        </a>
      </li>
      <li>
        <a href="{% url 'users:logout' %}" class="flex items-center p-2 px-4 text-white font-factor-a-medium hover:bg-gray-100 hover:text-black group">
          <img class="w-9 h-9 p-2 bg-black rounded-lg" aria-hidden="true" src="{% static '/public/images/dashboard/side-bar/exit.svg' %}" fill="currentColor" viewBox="0 0 22 21"></img>
          <span class="ms-3">Выйти</span>
        </a>
      </li>
      <li>
        <img
          class="relative ml-5 w-10 h-10 z-20"
          loading="lazy"
          alt="Утка читает новости"
          src="{% static '/public/images/dashboard/side-bar/duck-news.svg' %}"
        >
      </li>
    </ul>
  </div>
</aside>